body{
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    color: #434455;
}

.logoweb{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.link{
    text-decoration: none;
}

.logo_web{
    color: #2e2f42;
}

.list{
    list-style: none;
}

.alert{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.alert:hover,
.alert:focus{
    color: #404bbf;
}

.contacts{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;

}

.gmail{
    color: #434455;
}

.tel{
    color: #434455;
}

.gmail:hover,
.gmail:focus {
    color: #404bbf;
}

.tel:hover,
.tel:focus {
    color: #404bbf;
}